# Supabase Configuration
VITE_SUPABASE_URL=https://txfnxthsqztyksiywlrj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4Zm54dGhzcXp0eWtzaXl3bHJqIiwiaWF0IjoxNzkxMTk5MTA4LCJleHAiOjIxMDY3NzUxMDh9.AR3azeMh0M6iISgTIKiVwB0vxzHpqqviFITF68UI7PA

# AI Studio injected variables
GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="MY_APP_URL"